*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:gray;
}

.title {
    text-align: center;
    background-color:black; 
    color: orange;
    padding-bottom: 40px;
}

/* navbar */
.nav-item-cart {
    padding-left: 400px;
}   

.search-bar {
    margin-left: 10px;
}

.iner-text {
    color: orange;
}

/* Testimonials */

.colored-section {
    height:160px;
    padding-bottom: 100px;
}

.carousel-image {
    margin-left: 25%;
    height: 400px;
    width: 500px;
}

.card {
    margin-bottom: 10px;
}

.card-img {
    width: 400px;
    height: 300px;
}

/* Carrousel-arrow */

.carousel-control-next:after
{
  content: '>>>';
  font-size: 70px;
  color: black;
}

.carousel-control-prev:after {
  content: '<<<';
  font-size: 70px;
  color: black;
}

.site-header {
    margin-bottom: 400px;
}

.product-position {
   margin-top: 400px;
   padding-top: 20px;
   background-color: gray;
}

/* Product section*/

.main-section {
    padding-top: 300px;
}

/* Pricing section */

.white-section {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: gray;
}
